<div class="row">
  <div class="4u 12u(narrower)">

    <section>
      <header>
        <q><h3>Our project</h3></q>
      </header>
      <q>The aim of our project was to develop an interactive web-based visualization to aid urban decision-makers and planners regarding how to allocate social service funding within a city.
      </q>
      <footer>
        <q><ul class="buttons">
          <li><a href="/hackathon.html" class="button small">Interactive Tool</a></li>
        </ul></q>
      </footer>
    </section>

  </div>
  <div class="4u 12u(narrower)">

    <section>
      <header>
        <q><h3>Our recent publication</h3></q>
      </header>
      <q>Check out our publication in <i>Environment and Planning B: Urban Analytics and City Science</i></q>
      <footer>
        <q><ul class="buttons">
          <li><a href='/city_access.html' class="button small">HERE!</a></li>
        </ul></q>
      </footer>
    </section>

  </div>
  <div class="4u 12u(narrower)">

    <section>
      <header>
        <q><h3>Our partners: Center for Spatial Data Science</h3></q>
      </header>
      <q>Huge thanks to Julia Koschinsky and Logan Noel at the University of Chicago's Center for Spatial Data Science. Also to Nicole Marwell at the University of Chicago's School of Social Service Administration.</q>
      <footer>
        <q><ul class="buttons">
          <li><a href="https://spatial.uchicago.edu/" class="button small">Learn More</a></li>
        </ul></q>
      </footer>
    </section>

  </div>
</div>
