---
layout: default
---
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="../index.html">ADAPTING <span>CITIES</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="../index.html">Welcome</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
			<article id="main">

				<header class="special container">
					<!-- <span class="icon fa-laptop"></span> -->
					<h2>Civic Hacking Trip to <strong>Seattle</strong></h2>
					<p>The City of Seattle flew us over to act as mentors for a Civic Hacking weekend focussed on urban accessibility for senior citizens</p>
					<p>13 October 2017</p>
				</header>

				<!-- One -->
					<section class="wrapper style4 container">

						<div class="row 150%">
							<div class="4u 12u(narrower)">

								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
												<h3>Authors</h3>
											</header>
											<img class ="research-thumbnail" src="../img/tlogan.jpg" title="Tom Logan" width="140" height=100% style="left"> <img class ="research-thumbnail" src="../img/twilliams.jpg" title="Tim Williams" width="140" height=100% style="float:right">
											<br>
											<div style="float:left"> <a href = 'http://tomlogan.co.nz'> Tom Logan </a>	</div>
											<div style="float:right"> <a href = 'http://timwilliams.kiwi'> Tim Williams </a></div>
										</section>

										<section>
											<q><img src="img/IMG_2161.jpg" width = "100%" alt="" /></q>
											<header>
												<h3>Big Thanks</h3>
											</header>
											<p>A big thanks to Candace Faber of the City of Seattle. She organized and MC'd the hackathon. Also, big thanks to our collaborators at the University of Chicago: Julia Koschinsky, Nicole Marwell, and Logan Noel.</p>
											<footer>
												<ul class="buttons">
													<li><a href="#" class="button small">Learn More</a></li>
												</ul>
											</footer>
										</section>
									</div>

							</div>
							<div class="8u 12u(narrower) important(narrower)">

								<!-- Content -->
									<div class="content">
										<section>
											<img src="img/IMG_2166-EFFECTS.jpg" width = "100%">
											<!-- <header>
												<h3>Dolore Amet Consequat</h3>
											</header> -->
											<p>On Sunday the 24th of September, Tim finally succeeded in his life’s ambition to get Tom to drink coffee.</p>
											<p>The Seattle City4All Hackathon was a whirlwind experience, preceded by late nights writing code and generating data, consisting of more late nights writing code and generating data, and culminating in a celebratory beer and a red-eye flight back to Detroit. Our eyes were certainly red.</p>
											<img class ="image" src="img/IMG_2067.jpg" width = "100%">
											<p>Organized by the City of Seattle, the Hackathon aimed to generate ideas to make Seattle a city that is safe and accessible for people of all ages. The event brought together local council members and stakeholders, NGOs focused on aging populations, and data and computer scientists of all ages and backgrounds. We were invited to attend to act as mentors following the recent acceptance of our paper “Evaluating urban accessibility: Leveraging open-source data and analytics to overcome existing limitations” in <a href='../city_access.html'>Environment and Planning: Urban Analytics and City Science</a>.</p>
											<img class ="image" src="img/Color_2017926_City4All_042.jpg" align="right", width = "40%">
											<p>The aim of our project was to develop an interactive web-based visualization to aid urban decision-makers and planners regarding how to allocate social service funding within a city. You can check this out <a href='http://adaptingcities.org/hackathon'>here</a>. Although this is a proof of concept, it is part of a wider initiative led by our collaborators at UChicago on visualizing spatial data to inform planning and help reduce inequity in access.</p>
											<p>We were hosted by the City of Seattle in their super cool building, with light and bright rooms and great catering! The view from the balcony during the evening was awesome.</p>
											<p>The event began with a reception and “pitching session”, where we pitched our project to the participants, with the goal being to recruit people into our team. This was an interesting experience, and somewhat similar to presenting research at a conference. With the feeling of competition in the air, we put our salesman hats on and set out to recruit the biggest and best team possible.</p>
											<p>Our team included Henry Kendall (incidentally an IOE alumn from the 90s), Aaron Brown, Kidus Sendeke, Andy Zhu, Rock Pereira, and Yes Segura. We made for an eclectic mix of ages and backgrounds. The speed at which we had to get to know them, understand their strengths, and manage the team made our introductions and albeit brief union a special one.</p>
											<img class ="research-thumbnail" src="img/IMG_2068.jpg" width="100%" >
											<p>We have to thank our off-site co-mentors. <a href = "https://ssascholars.uchicago.edu/n-marwell/biocv" target="_blank">Nicole Marwell</a>, <a href="http:/ssa.uchicago.edu">School of Social Service Administration</a>, and <a href="https://spatial.uchicago.edu/directories/full/team" target="_blank">Julia Koschinsky</a> (with <a href="https://www.linkedin.com/in/logannoel/" target="_blank">Logan Noel</a>), <a href="https://spatial.uchicago.edu/" target="_blank">Center for Spatial Data Science</a> at the University of Chicago. Special thanks to Julia who was and is the brains of the project and the impetus for the trip. She’s really cool.</p>
											<p>Also, thanks to the City of Seattle for hosting us. It was an awesome experience and one we really threw ourselves into. We were exhausted by the end!</p>
											<q><img src="img/IMG_2178.jpg" width = "50%"></q>


										</section>
									</div>

							</div>
						</div>
					<!-- </section> -->

				<!-- Two -->
					<!-- <section class="wrapper style1 container special"> -->
						{% include 2017-10-13-seattle.html %}
						{% include disqus.html %}
					</section>

			</article>
